/* Formularios */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #b8c7d9;
    border-radius: 8px;
    font-size: 15px;
}

input:focus {
    outline: none;
    border-color: #2b455e;
}

button,
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}

.btn-primary {
    background-color: #2b455e;
    color: white;
}

.btn-primary:hover {
    opacity: .9;
}

.btn-secondary {
    background-color: #d9e5ef;
    color: #2b455e;
}
