<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteTask Manager</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/pages.css}">
</head>
<body class="page-index">
<div class="container">
    <h2>Bienvenido a NoteTask Manager</h2>
    <a href="/crear-sala" class="btn">Crear sala</a>
    <a href="/join-options" class="btn btn-secondary">Unirse a una Sala</a></div>
</body>
</html>
